version: 0.2
        
phases:
  install:
    commands:
      - echo Installing cfn-nag
      - gem install cfn-nag
  build:
    commands:
      - echo Running 'cfn-nag' against template
      - cfn_nag_scan --input-path ./template.yaml
artifacts:
  files:
    - '**/*'
  name: cfn_nag_output
  