version: 0.2
        
phases:
  install:
    runtime-versions:
      nodejs: 12.x
  build:
    on-failure: ABORT
    commands:
      - echo Entered the deploy phase...
      - echo Deploy started on `date`
      - sam deploy --config-env ${ConfigEnv} --s3-bucket ${SAMs3bucket} --kms-key-id ${SAMkmsKeyID}
      # - sh config/sam-deploy.sh
      # - echo Running Deploy Script
      # - ./config/sam-deploy.sh
      
artifacts:
  files:
    - '**/*'
  name: sam_deploy_output
  